
* {
    box-sizing: border;
}
            .css, .html {
            width: 100%;
            position: relative;
            padding: 10px;
            background: white;
            color: black;
            border-left: 5px solid green;
            outline:none;
            }
            .output {
                background: white;
                border: none;
                width: 100%;
                color: black;
                padding: 10px;
            }
            .output a {
                color:blue;
            }
            
            .tag, .sel {
            color: brown;
            }
            
            .attr, .prop {
            color: red;
            }
            
            .value {
            color: blue;
            }
            .comm {
                color: grey;
            }
            .num {
                color:green;
            }
button {
    padding:10px 10px;
    background: green;
    color: white;
    border: none;
    font-size: 20px !important;
    outline: none;
    margin: 20px;
 
}
.code-h {
    color:red;
    background:rgb(0, 0, 0, 0.05);
}
.note {
    background:white;
    padding:10px;
}
table {
    width: 100%;
    background: white;
    color: black;
}
th, td {
    text-align: center;
}
iframe th, iframe td {
    text-align: left;
}
table, th, td {
    border: 1px solid grey;
    border-spacing:0px;
}
td, th {
    padding: 5px;
    white-space: nowrap;
}
#color {
    width: 100px;
    height: 50px;
}
@media only screen and (max-width:768px) {
    .hide-tut {
        display: none !important;
    }
}

.w-more {
    position: absolute;
    top: 20vh;
    z-index: 1;
    padding: 0;
    padding-top: 5px;
    display: block;
    min-height: 80vh;
    overflow-y: scroll;
    background: #333;
    color: white;
}
.w-more a {
    text-decoration: none;
}
.w-more-container {
    padding-left: 10px;
}
#w-more {
    display: none;
}
.w-topnav .w-bar-item {
    font-weight: 600;
}