
* {
    box-sizing: border;
}
            .css, .html {
            width: 100%;
            position: relative;
            padding: 10px;
            background: white;
            color: black;
            border-left: 5px solid green;
            outline:none;
            }
            .output {
                background: white;
                border: none;
                width: 100%;
                color: black;
                padding: 10px;
            }
            .output a {
                color:blue;
            }
            
            .tag, .sel {
            color: brown;
            }
            
            .attr, .prop {
            color: red;
            }
            
            .value {
            color: blue;
            }
            .comm {
                color: grey;
            }
            .num {
                color:green;
            }
button {
    padding:10px 20px;
    background: green;
    color: white;
    border: none;
    font-size: 20px !important;
    outline: none;
    margin: 20px;
}
.code-h {
    color:red;
    background:rgb(0, 0, 0, 0.05);
}
.note {
    background:white;
    padding:10px;
}
table {
    width: 100%;
    background: white;
    color: black;
}
th, td {
    text-align: center;
}
table, th, td {
    border: 1px solid grey;
    border-spacing:0px;
}
td, th {
    padding: 5px;
}
#color {
    width: 100px;
    height: 50px;
}